/* CSS START */
/* Light Theme */
:root[data-theme="light"] {
    --text: #121517;
    --background: #f6f7f8;
    --primary: #434c51;
    --secondary: #626af3;
    --accent: #5cac2a;
    --card-color: #FFFFFF;
}

/* Dark Theme */
:root[data-theme="dark"] {
    --text: #e8ebed;
    --background: #070809;
    --primary: #aeb7bc;
    --secondary: #0c139d;
    --accent: #85d553;
    --card-color: #161616;
}

/* Font Start */
@font-face {
    font-family: 'Aoboshi One';
    src: url('../font/AoboshiOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Aoboshi One', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Aoboshi One';
    font-weight: 700;
}

/* 16px */
html {
    font-size: 100%;
}

/* 48.8px */
h1 {
    font-size: 3.053rem;
}

/* 39.04px */
h2 {
    font-size: 2.442rem;
}

/* 31.2px */
h3 {
    font-size: 1.954rem;
}

/* 24.96px */
h4 {
    font-size: 1.563rem;
}

/* 20px */
h5 {
    font-size: 1.250rem;
}

/* 12.8px */
small {
    font-size: 0.800rem;
}

/* Font End */

body {
    color: var(--text);
    background-color: var(--background);
    transition: color 0.3s ease, background-color 0.3s ease;
    width: 100%;
    margin: 0;
}

/* Navbar Start */
nav.navbar {
    background-color: var(--background);
    border-bottom: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 15px 0;
}

nav .nav-container .navbar-title {
    margin: 0;
}

nav .nav-container .nav-right {
    display: flex;
    align-items: center;
}

nav .nav-right .navbar-nav {
    display: flex;
    list-style: none;
}

nav .nav-right .navbar-nav .nav-item {
    padding: 0px 20px;
}

nav .nav-right .navbar-nav .nav-item .nav-link {
    color: var(--primary);
    text-decoration: none;
    transition: color 0.5s ease;
}

nav .nav-right .navbar-nav .nav-item .nav-link:hover {
    color: var(--text);
}

nav .nav-right .navbar-nav .nav-item .nav-link.active {
    color: var(--text);
}

.switch {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide the input checkbox */
.switch__input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider background */
.switch__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--text);
    border-radius: 1rem;
    border: 1px solid;
    transition: background 0.2s;
    cursor: pointer;
}

/* The slider circle */
.switch__slider::before {
    content: "";
    position: absolute;
    left: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--background);
    transition: transform 0.2s, width 0.2s, background 0.2s;
}

.switch__input:checked+.switch__slider {
    background: var(--text);
}

/* Expands the circle on active state (when toggling) */
.switch__input:not(:checked):active+.switch__slider::before,
.switch__input:checked:active+.switch__slider::before {
    width: 20px;
}

.switch__input:checked+.switch__slider::before {
    transform: translate(26px, -50%);
}

/* Navbar End */

.dynamic-body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

/* Throbber Start */
@keyframes throbber {
    0% {
        background: transparent;
        height: 0;
    }

    70% {
        background: var(--text);
        height: 40px;
    }
}

.throbber {
    height: 50px;
    /* 1.25 * 40px */
    text-align: center;
    display: inline-flex;
    align-items: center;
}

.throbber span {
    background: var(--text);
    display: inline-block;
    width: 8px;
    height: 0;
}

/* Expanding the loop for 10 children */
.throbber span:nth-child(1) {
    -webkit-animation: throbber 1800ms 0ms infinite ease-out;
    animation: throbber 1800ms 0ms infinite ease-out;
    margin-left: 5px;
    /* The spacing specified in the variable */
}

.throbber span:nth-child(2) {
    -webkit-animation: throbber 1800ms 100ms infinite ease-out;
    animation: throbber 1800ms 100ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(3) {
    -webkit-animation: throbber 1800ms 200ms infinite ease-out;
    animation: throbber 1800ms 200ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(4) {
    -webkit-animation: throbber 1800ms 300ms infinite ease-out;
    animation: throbber 1800ms 300ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(5) {
    -webkit-animation: throbber 1800ms 400ms infinite ease-out;
    animation: throbber 1800ms 400ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(6) {
    -webkit-animation: throbber 1800ms 500ms infinite ease-out;
    animation: throbber 1800ms 500ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(7) {
    -webkit-animation: throbber 1800ms 600ms infinite ease-out;
    animation: throbber 1800ms 600ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(8) {
    -webkit-animation: throbber 1800ms 700ms infinite ease-out;
    animation: throbber 1800ms 700ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(9) {
    -webkit-animation: throbber 1800ms 800ms infinite ease-out;
    animation: throbber 1800ms 800ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(10) {
    -webkit-animation: throbber 1800ms 900ms infinite ease-out;
    animation: throbber 1800ms 900ms infinite ease-out;
    margin-left: 5px;
}

@-webkit-keyframes throbber {
    0% {
        background: transparent;
        height: 0;
    }

    70% {
        background: var(--text);
        height: 40px;
    }
}

/* Throbber End */

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Post Start */
.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px 5px 20px;
    margin: 20px 0;
    border: 1px solid var(--primary);
    border-radius: 10px;
    font-size: 15px;
    background-color: var(--card-color);
}

.post .post-header {
    width: 90%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primary);
    padding: 5px;
}

.post .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
}

.post .author-name {
    font-size: 25px;
    margin: 0;
    margin-right: 25px;
}

.post .post-header .post-date {
    font-size: 12px;
    padding-top: 10px;
    margin: 0;
}

.post .post-content {
    width: 90%;
}

.post .post-footer {
    width: 90%;
    display: flex;
    margin-top: 30px;
}

.post .post-footer .like,
.post .post-footer .comment {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post .post-footer .like .like-count,
.post .post-footer .comment .comment-count {
    margin: 5px;
}

/* Post End */
/* CSS END */