/* CSS START */

/* Light Theme */
:root[data-theme="light"] {
    --text: #121517;
    --background: #f6f7f8;
    --primary: #434c51;
    --secondary: #626af3;
    --notifications: #77dd77;
    --accent: #27ae60;
    --card-color: #FFFFFF;
    --btn-shadow: #0000004d;
    --following-btn: #e0e0e0;
    --form-btn: #77dd77;
    --error-bg-color: #f8d7da;
    --error-color: #721c24;
    --success-bg-color: #d4edda;
    --success-color: #155724;
    --popup-box: rgba(255, 255, 255, 1);
}

/* Dark Theme */
:root[data-theme="dark"] {
    --text: #e8ebed;
    --background: #070809;
    --primary: #aeb7bc;
    --secondary: #0c139d;
    --notifications: #77dd77;
    --accent: #27ae60;
    --card-color: #161616;
    --btn-shadow: #ffffff4d;
    --following-btn: #3c3c3c;
    --form-btn: #27ae60;
    --error-bg-color: #f8d7da;
    --error-color: #721c24;
    --success-bg-color: #d4edda;
    --success-color: #155724;
    --popup-box: rgba(0, 0, 0, 1);
}

/* Font Start */

@font-face {
    font-family: 'Aoboshi One';
    src: url('../font/AoboshiOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Aoboshi One', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Aoboshi One';
    font-weight: 700;
}

/* 16px */
html {
    font-size: 100%;
}

/* 48.8px */
h1 {
    font-size: 3.053rem;
}

/* 39.04px */
h2 {
    font-size: 2.442rem;
}

/* 31.2px */
h3 {
    font-size: 1.954rem;
}

/* 24.96px */
h4 {
    font-size: 1.563rem;
}

/* 20px */
h5 {
    font-size: 1.250rem;
}

/* 12.8px */
small {
    font-size: 0.800rem;
}

/* Font End */

html,
body {
    height: 100%;
    /* Ensures the body takes the full viewport height */
    margin: 0;
    /* Prevents default margins from affecting layout */
}

body {
    color: var(--text);
    background-color: var(--background);
    transition: color 0.3s ease, background-color 0.3s ease;
    width: 100%;
    margin: 0;
}

/* Overlay for darkening the background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    opacity: 0;
    visibility: hidden;
    z-index: 998;
    /* Slightly lower than the .search-bar */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show the overlay when active */
.overlay.active {
    opacity: 1;
    visibility: visible;
}


/* Search Form (Outside Navbar) Start */
.visually-hidden {
    display: none;
}

.search-bar {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background: transparent;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#search-input {
    width: 500px;
    height: 60px;
    padding: 25px;
    border: 1px solid var(--primary);
    border-radius: 28px 0 0 28px;
    outline: none;
    margin-right: 0
}

#search-page-form #search-input {
    height: 10px;
}

.search-submit-btn {
    width: 85px;
    margin-top: 0;
    height: 60px;
    padding: 5px 10px;
    border: 1px solid var(--primary);
    border-left: none;
    background-color: var(--background);
    color: var(--text);
    border-radius: 0 28px 28px 0;
    cursor: pointer;
}

#search-page-form .search-submit-btn {
    height: 62px;
}

.search-submit-btn:hover {
    background-color: var(--notifications);
    color: var(--text)
}

.search-bar.active {
    opacity: 1;
    visibility: visible;
}

/* Search Form (Outside Navbar) End */
/* Navbar Start */

nav.navbar {
    position: sticky;
    top: 0;
    z-index: 995;
    background-color: var(--background);
    border-bottom: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 15px 0;
}

nav .nav-container .navbar-title {
    margin: 0;
}

nav .nav-container .nav-right {
    display: flex;
    align-items: center;
}

nav .nav-right .navbar-nav {
    display: flex;
    list-style: none;
}

nav .nav-right .navbar-nav .nav-item {
    padding: 0px 20px;
}

nav .nav-right .navbar-nav .nav-item .nav-link {
    color: var(--primary);
    text-decoration: none;
    transition: color 0.5s ease;
}

nav .nav-right .navbar-nav .nav-item .nav-link:hover {
    color: var(--text);
}

#hide-logout {
    cursor: pointer;
}

#hide-create {
    cursor: pointer;
}

.search-btn {
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
}

.search-btn:hover {
    background-color: transparent;
}

.search-btn span {
    color: var(--primary);
}

.search-btn span:hover {
    color: var(--text);
}

.switch {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide the input checkbox */
.switch__input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider background */
.switch__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--text);
    border-radius: 1rem;
    border: 1px solid;
    transition: background 0.2s;
    cursor: pointer;
}

/* The slider circle */
.switch__slider::before {
    content: "";
    position: absolute;
    left: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--background);
    transition: transform 0.2s, width 0.2s, background 0.2s;
}

.switch__input:checked+.switch__slider {
    background: var(--text);
}

/* Expands the circle on active state (when toggling) */
.switch__input:not(:checked):active+.switch__slider::before,
.switch__input:checked:active+.switch__slider::before {
    width: 20px;
}

.switch__input:checked+.switch__slider::before {
    transform: translate(26px, -50%);
}

/* Navbar End */

.dynamic-body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Throbber Start */

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

@keyframes throbber {
    0% {
        background: transparent;
        height: 0;
    }

    70% {
        background: var(--text);
        height: 40px;
    }
}

.throbber {
    height: 50px;
    /* 1.25 * 40px */
    text-align: center;
    display: inline-flex;
    align-items: center;
}

.throbber span {
    background: var(--text);
    display: inline-block;
    width: 8px;
    height: 0;
}

/* Expanding the loop for 10 children */

.throbber span:nth-child(1) {
    -webkit-animation: throbber 1800ms 0ms infinite ease-out;
    animation: throbber 1800ms 0ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(2) {
    -webkit-animation: throbber 1800ms 100ms infinite ease-out;
    animation: throbber 1800ms 100ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(3) {
    -webkit-animation: throbber 1800ms 200ms infinite ease-out;
    animation: throbber 1800ms 200ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(4) {
    -webkit-animation: throbber 1800ms 300ms infinite ease-out;
    animation: throbber 1800ms 300ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(5) {
    -webkit-animation: throbber 1800ms 400ms infinite ease-out;
    animation: throbber 1800ms 400ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(6) {
    -webkit-animation: throbber 1800ms 500ms infinite ease-out;
    animation: throbber 1800ms 500ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(7) {
    -webkit-animation: throbber 1800ms 600ms infinite ease-out;
    animation: throbber 1800ms 600ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(8) {
    -webkit-animation: throbber 1800ms 700ms infinite ease-out;
    animation: throbber 1800ms 700ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(9) {
    -webkit-animation: throbber 1800ms 800ms infinite ease-out;
    animation: throbber 1800ms 800ms infinite ease-out;
    margin-left: 5px;
}

.throbber span:nth-child(10) {
    -webkit-animation: throbber 1800ms 900ms infinite ease-out;
    animation: throbber 1800ms 900ms infinite ease-out;
    margin-left: 5px;
}

@-webkit-keyframes throbber {
    0% {
        background: transparent;
        height: 0;
    }

    70% {
        background: var(--text);
        height: 40px;
    }
}

/* Throbber End */

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    box-sizing: border-box;
}

/* Post Start */

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px 5px 20px;
    margin: 20px 0;
    border: 1px solid var(--primary);
    border-radius: 10px;
    font-size: 15px;
    background-color: var(--card-color);
}

.post .post-header {
    width: 90%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primary);
    padding: 5px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
}

.post .author-name {
    font-size: 25px;
    margin: 0;
    margin-right: 15px;
}

.post .profile-btn {
    margin-right: 25px;
    width: 115px;
    padding: 8px 20px;
}

.post .post-header .post-date {
    font-size: 12px;
    padding-top: 10px;
    margin: 0;
}

.post .post-content,
.post .post-tags {
    width: 90%;
}

.post-tags .tag {
    color: var(--accent);
}

.post .post-footer {
    width: 90%;
    display: flex;
    margin-top: 30px;
}

.post .post-footer .like,
.post .post-footer .comment {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post .post-footer .like .like-count,
.post .post-footer .comment .comment-count {
    margin: 5px;
}

/* Post End */
/* Profile Start */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.profile .profile-header {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header .username-container {
    width: 100%;
    margin-bottom: 50px;
}

.profile-header .profile-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.profile-details .profile-image {
    width: 215px;
    height: 225px;
    border-radius: 50%;
    margin-right: 50px;
}

.profile-details .profile-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.profile-info .profile-counts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35px;
}

.profile-info .count {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
}

/* Follow Button */
.profile-btn {
    width: 125px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;

}

.following {
    border: 1px solid var(--text);
}

.following:hover {
    background-color: var(--background);
}

.follow {
    background-color: var(--accent);
    color: var(--text);
}

.profile-btn:hover {
    box-shadow: 0 0 10px var(--btn-shadow), 0 0 20px var(--btn-shadow);
}

.profile-container .profile-bio {
    width: 100%;
    text-align: justify;
}

/* Follow Button End */

.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Profile End */
/* Form Start */

.form-container {
    width: 45%;
    padding: 10px 10px 20px 10px;
}

.form-container.login {
    border: 1px solid var(--text);
    border-radius: 10px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.label-div {
    width: 100%;
    margin-bottom: 10px;
}

.form-text {
    width: 80%;
}

.form-group label {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-text .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.image-upload label {
    margin-bottom: 4px;
}

.form-group input[type="file"]::file-selector-button {
    background-color: var(--background);
    color: var(--text);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid var(--text);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.form-group input[type="file"]::file-selector-button:hover {
    background-color: var(--text);
    color: var(--background);
}

button {
    margin-top: 40px;
    background-color: var(--background);
    color: var(--text);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid var(--text);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: var(--form-btn);
}

/* Form End */
/* Popup Start */

.create-post {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Dimmed background */
    justify-content: center;
    padding-top: 90px;
    z-index: 1000;
}

.post-creation {
    border: 1px solid var(--text);
    border-radius: 15px;
    height: 435px;
    background-color: var(--popup-box);
    overflow: hidden;
    transition: height 0.2s ease;
}

.visible {
    display: flex;
}

#post-content {
    width: 100%;
    /* Full width of the container */
    max-width: 800px;
    /* Limit the maximum width */
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    /* Allow vertical resizing */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#post-tags {
    width: 100%;
    /* Full width of the container */
    max-width: 800px;
    /* Limit the maximum width */
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none;
    /* Allow no resizing */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Popup End */
/* Form Messages Start */

#form-message,
#create-post-form-message,
#follow-msg {
    width: 100%;
    display: flex;
    justify-content: center;
}

#form-message .message,
#create-post-form-message .message,
#follow-msg .message {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}

.error.message {
    background-color: var(--error-bg-color);
    border: var(--error-color) 2px solid;
    color: var(--error-color);
}

.success.message {
    background-color: var(--success-bg-color);
    border: var(--success-color) 2px solid;
    color: var(--success-color);
}

/* Form Messages End */
/* Search Page Start */

.search-result {
    margin-bottom: 5px;
}

.search-options {
    display: flex;
}

.search-options .search:first-child {
    margin-right: 20px;
}

.search {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search:hover {
    background-color: var(--accent);
    box-shadow: 0 0 10px var(--btn-shadow), 0 0 20px var(--btn-shadow);
}

.search-options .active {
    background-color: var(--accent);
}

.users-container {
    display: none;
}

.user-profile {
    display: flex;
    align-items: center;
    padding: 20px 35px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    margin: 10px 0;
    background-color: var(--card-color);
}

.user-profile .author-name {
    margin-right: 20px;
}

/* Search Page End */
/* CSS END */